@import '_base';

.navbar {

    ul {
        display: flex;
        flex-direction: row;
        background-color: $primary-color;
        align-items: center;

        .nav__logo {
            margin-right: auto;
            margin-left: 30px;
            cursor: pointer;
            align-content: center;

            img {
                height: 100px;
            }
        }

        .navbar__links {
            display: flex;
            flex-direction: row;
            list-style-type: none;

            li {
                margin: 25px 50px 25px 0;

                &:hover {
                    border-bottom: 2px solid $hover-color;
                    letter-spacing: 5px;
                }

                :link {
                    text-decoration: none;
                    font-size: 15px;
                    font-family: $poppins;
                    font-weight: 600;
                }

                .nav__activeLinks {
                    background-color: $secondary-color;
                    border-radius: 10px;
                    padding: 10px;
                    color: white;
                    margin: 10px
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        height: 13vh;
        display: flex;

        ul {
            border-top-right-radius: 30px;
            background-color: #5A4645;
            /* border: 3px solid red; */
            height: 100%;
            left: -240px;
            position: fixed;

            top: 70px;
            flex-direction: column;
            transition: 300ms ease all;

            &.active {
                left: 0px;
            }

            .nav__logo {
                position: fixed;
                height: 50px;
                left: 9px;
                top: 10px;

                img {
                    height: 60px;
                }
            }

            .navbar__links {
                align-items: center;
                flex-direction: column;
                margin: 0 10px;

                li {
                    margin-top: -5px;
                    margin-top: 30px;
                    margin-left: auto;
                    margin-right: auto;
                    padding: 0 10px;

                }

            }
        }
    }
}